<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuite name="Axiomes ZDoctrine-Odm test suite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../library/</directory>
        </whitelist>

    </filter>
</phpunit>